<h3>Hello, <%= @user.email %></h3>
<%= link_to "Manage Profile", edit_user_registration_path %>
<h4>Events you are hosting</h4>
<hr>
<div class="list-group">
    <% @attendings.each do |hosting| %>
        <li><%= link_to hosting.event.name, event_path(hosting.event), class: 'list-group-item list-group-item-action'%></li>
    <% end %>
</div>
